nav.navbar.navbar-expand-lg.navbar-dark.rocket-bg
    .container.px-5
        a.navbar-brand(href='index.html')
            img(src='assets/navbar-logo.png')
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link(href='index.html') Home
                li.nav-item
                    a.nav-link(href='about.html') About
                li.nav-item
                    a.nav-link(href='pricing.html') Our Plans
                li.nav-item
                    a.nav-link(href='blog-home.html') Our Work
                li.nav-item.dropdown
                    a#navbarDropdownBlog.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                        | What we do
                    ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdownBlog')
                        li
                            a.dropdown-item(href='blog-home.html') Creative Design
                        li
                            a.dropdown-item(href='blog-post.html') Web Design
                        li
                            a.dropdown-item(href='blog-post.html') Digital Marketing
