doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Modern Business - Start Bootstrap Template

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug
            // Wizard Stepper Section
            section.py-5.bg-light
                .container.px-5.my-5
                    .text-center.mb-5
                    h2.fw-bolder Our Process
                    p.lead.fw-normal.text-muted Transform Your Business in 5 Simple Steps

                    .stepper
                        .step
                            .step-indicator 1
                            .step-label Take a look
                            p.step-desc Explore the range of plans we offer below to find the one that best suits your needs.

                        .step
                            .step-indicator 2
                            .step-label Free Consultation
                            p.step-desc Drop us an email, let us know how we can help. We will talk you through your options and what we will deliver.

                        .step
                            .step-indicator 3
                            .step-label The Build
                            p.step-desc We’ll hold a series of sessions throughout your website build to guide the process. Our iterative development approach allows us to adapt quickly and effectively to any changes along the way.

                        .step
                            .step-indicator 4
                            .step-label The Review
                            p.step-desc You'll have dedicated time to review everything agreed upon during our consultation. This is your opportunity to request any final changes before your project goes live.

                        .step
                            .step-indicator 5
                            .step-label The Go-Live
                            p.step-desc The exciting part — Go Live! Once we’ve finalized everything and you’re happy with the result, we’ll launch your website and take it live.



            // Pricing section
            section.bg-light.py-5
                .container.px-5.my-5
                    .text-center.mb-5
                        h1.fw-bolder Our Plans
                        p.lead.fw-normal.text-muted.mb-0 Find the right solution for your business needs.
                    .row.gx-5.justify-content-center
                        // Pricing card free
                        .col-lg-6.col-xl-4
                            .card.mb-5.mb-xl-0
                                .card-body.p-5
                                    .small.text-uppercase.fw-bold.text-muted Basic
                                    .mb-3
                                        span.display-4.fw-bold £30
                                        span.text-muted / mo.
                                        p.text-muted A simple online presence with essential features to get your business started.
                                    ul.list-unstyled
                                        li-mb-2
                                            h6 Domain & Hosting
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | 1 .co.uk or .com domain name
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Domain Setup
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Hosting Maintenance & Security 
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Email Setup
                                        li.mb-2
                                            h6 Design & Content
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Custom Design - Up to 5 Pages
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Mobile Responsive
                                        li.mb-2 
                                            h6 Engagement
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Social Media Links
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Contact Forms
                                    .d-grid
                                        a.btn.btn-outline-primary(href='#!') Choose plan
                        // Pricing card pro
                        .col-lg-6.col-xl-4
                            .card.mb-5.mb-xl-0
                                .card-body.p-5
                                    .small.text-uppercase.fw-bold
                                        i.bi.bi-star-fill.text-warning
                                        | Standard
                                    .mb-3
                                        span.display-4.fw-bold £55
                                        span.text-muted / mo.
                                        p.text-muted A solid base plan to grow your customer base with enhanced features.
                                    ul.list-unstyled.mb-4
                                        ul.list-unstyled
                                            li.mb-2 
                                                h6 Everything in Basic, plus:
                                                h6 Design & Content
                                            li.mb-2
                                                i.bi.bi-check.text-primary
                                                | Custom Design - Up to 20 Pages
                                            li.mb-2 
                                                h6 Engagement & SEO
                                            li.mb-2
                                                i.bi.bi-check.text-primary
                                                | Customer Reviews
                                            li.mb-2
                                                i.bi.bi-check.text-primary
                                                | Self Managed Guides (on request)
                                            li.mb-2
                                                i.bi.bi-check.text-primary
                                                | SEO Optimised
                                            li.mb-2
                                                i.bi.bi-check.text-primary
                                                | Media Galleries
                                            li.mb-2
                                                i.bi.bi-check.text-primary
                                                | Website Performance Reports
                                            li.mb-2
                                                i.bi.bi-check.text-primary
                                                | Blog Setup
                                    .d-grid
                                        a.btn.btn-primary(href='#!') Choose plan
                        // Pricing card enterprise
                        .col-lg-6.col-xl-4
                            .card
                                .card-body.p-5
                                    .small.text-uppercase.fw-bold.text-muted Ultimate
                                    .mb-3
                                        span.display-4.fw-bold £100
                                        span.text-muted / mo.
                                        p.text-muted Our premium plan for businesses ready to skyrocket with advanced features.
                                    ul.list-unstyled
                                        li.mb-2 
                                            h6 Everything in Standard, plus: 
                                            h6 Design & Content
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Website Refresh (1 per 12 Months)
                                        li.mb-2 
                                            h6 E-Commerce & Integration
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Online Store (Unlimited Products)
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Online Booking System
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Messaging Integration
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Payment Gateway setup
                                    .d-grid
                                        a.btn.btn-outline-primary(href='#!') Choose plan

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
